

.container .row .input-group{
    width: 80%;
    margin: 15px auto;
}

.container .row #button-group{
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
    vertical-align:middle;
}
.container .row #content{
    margin-top: 20px;
    margin-bottom: 0px;

}
.container .row #button-group button{
    width: 40%;
    margin-top: 60px;
    display: inline-block;

}

.container .row #userImage{
    width: 80%;
    border:3px solid black;
}


.container .row #focus,#fans{
    display: inline;
    font-size: 20px;
}

img{
    max-height: 250px;
    max-width: 250px;
}

/*.container .row #button-group #create-cancle{*/
/*width: 40%;*/
/*margin-top: 0px;*/
/*display: inline-block;*/

/*}*/
